<div class="about-title">
    <div class="about-head">
      <h1>I'm <span>Fahim Hossen,</span>  a Web Developer</h1>
      <p>Hi, I'm Md. Fahim Hossen, a passionate self-taught programmer from Bangladesh. Basically I build several web application based on JavaScript. I tend to make use of modern web technologies to build websites that look great, feel fantastic, and catch user's eye. I am especially focusing on AngularJS.</p>
      <p>I also do Graphic Designer and Digital Marketing. Since I love both, programming and designing. I'm also interested in open source, and creative coding projects.</p>
    </div>
    <div class="about-info">
      <ul>
        <li><span>Name:</span>Md. Fahim Hossen</li>
        <li><span>Email:</span><a href="mailto:hmdfahim420@gmail.com">hmdfahim420@gmail.com</a> </li>
        <li><span>Age:</span>17</li>
        <li><span>From:</span>Keshabpur, Jeshore, Bangladesh</li>
      </ul>
      <div class="btn btn-cv">
        <button type="submit">Download CV</button>
      </div>
    </div>
  </div>
  
  <div class="featured">
    <div class="featured-box">
      <div class="featured-title">
        <h3>2.5<span>+</span></h3>
        <p>Years Experiance</p>
      </div>
    </div>
    <div class="featured-box">
      <div class="featured-title">
        <h3>0<span>+</span></h3>
        <p>Happy Clients</p>
      </div>
    </div>
    <div class="featured-box">
      <div class="featured-title">
        <h3>5<span>+</span></h3>
        <p>Projects Done</p>
      </div>
    </div>
    <div class="featured-box">
      <div class="featured-title">
        <h3>0<span></span></h3>
        <p>Get Awards</p>
      </div>
    </div>
  </div>