<div class="skill-flex">
    <div class="skill-developer">
        <ul>
            <li class="web-desing">Web Design <span>80%</span></li>
            <li class="javascript">JavaScript <span>40%</span></li>
            <li class="angjs">Angular Js <span>60%</span></li>
        </ul>
        </div>
        <div class="skill-developer1">
        <ul>
            <li class="html">HTML/CSS <span>88%</span></li>
            <li class="rejs">Facebook Marketing <span>70%</span></li>
            <li class="bts">Bootstrap <span>50%</span></li>
        </ul>
    </div>
    </div> 
