<div class="primary-bar">
    <div class="primary-logo">
      <h1>Fahim</h1>
    </div>
    <div class="primary-menu">
      <ul id="menu">
        <li><a routerLink="/" class="active">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#summary">Resume</a></li>
        <li><a href="#skill">Skill</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a routerLink="/account">Account <i class="fa-solid fa-caret-down"></i></a>
          <ul class="sub-menu">
            <li><a href="/login-form">Login</a></li>
            <li><a href="/singup-form">SingUp</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="primary-social">
      <ul>
        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
