<div id="form">
    <div class="form_img">
        <img src="../../../assets/img/contact-header.jpg" alt="">
    </div>

    <div class="signup_form">
        <div class="form_title">
            <h2>Register Now</h2>
        </div>

        <div class="form_input">
        <form action="" method="get">
        <input type="text" placeholder="First Name" required>
        <input type="text" placeholder="Last Name" required>
        <input type="username" placeholder="Username" required>
        <input type="password" placeholder="Password" required>

            <button type="submit" id="btn">Sing Up</button>
        </form>
        </div>
    </div>
 </div>

 <footer id="footer">
    <div class="container">
        <div class="footer-text">
            <div class="footer-copyrigth">
                <h2>Address</h2>
                <p>Mangolkot 85no. Mangolkot 7450 - Keshabpur, Jeshore</p>
                <ul>
                    <li><a href="#"><i class="fas fa-phone"></i> <span>+8801645386422</span></a></li>
                    <li><a href="#"><i class="fas fa-envelope"></i> <span>hmdfahim420@gmail.com</span></a></li>
                </ul>

            </div>
            <div class="social-media">
                <h2>Follow Me</h2>
                <ul>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-pinterest"></i></a></li>
                </ul>
           
            </div>
        </div>
    </div>

    
    <div class="copyright">
        <p>Copyright © 2023 <a href="">Fahim</a>. All Rights Reserved.</p>
    </div>

 </footer>