.education-box {
    background: #111418;
    width: 530px;
    padding: 25px 30px;
    border-radius: 5px;
    margin-bottom: 24px;
}
.education-head p {
    width: 103px;
    background: #20c997;
    padding: 2px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 15px;
}

.education-head h3 {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 22px;
}

.education-info h4 {
    color: #20c997;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;
}

.education-info p {
    font-size: 15px;
    color: hsla(0,0%,100%,.5);
    font-weight: 500;
    line-height: 25px;
}