<div class="contact-flex">
    <div class="contact-info">
      <h2>Address</h2>
      <p>Mangolkot 85no. Mangolkot 7450 - Keshabpur, Jeshore</p>
      <div class="contact-me">
        <ul>
          <li><i class="fas fa-phone"></i><span>8801645386422</span></li>
          <li><i class="fas fa-envelope"></i><span>hmdfahim420@gmail.com</span></li>
        </ul>
      </div>
      <div class="contact-social">
        <h2>Follow Me</h2>
        <ul>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-pinterest"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="contact-from">
      <h2>Send Us a Note</h2>
      <form action="" id="form-box">
        <input type="text" placeholder="Name" required>
        <input type="text" placeholder="Email">
        <textarea placeholder="Tell us more about your need..." required></textarea>
        <button type="submit" class="submit-btn">Send Message</button>
      </form>
  
    </div>
  </div>